body {
    background-color: black;
}

img {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    padding-top: 0px;
    border-bottom: 0px;
}

img:link {
    text-decoration: none;
}

       a:link {color: black;}      /* unvisited link */
       a:visited {color: black;}   /* visited link */
       a:hover {color: white;}     /* mouse over link */
       a:active {color: black;}    /* selected link */

h1 {
    text-align: center;
}


.rectangle1 {
	width: 50px;
	height: 800px;
	background-color: white;
	top: -50px;
	left: 85px;
	z-index: 1;
	position: absolute;
	-webkit-transform: rotate(10deg); 


}

.rectangle2 {
    width: 40px;
	height: 800px;
	background-color: white;
	top: -50px;
	left: 185px;
	z-index: 1;
	position: absolute;
	-webkit-transform: rotate(10deg); 
}

.rectangle3 {
    width: 35px;
	height: 800px;
	background-color: white;
	top: -50px;
	left: 285px;
	z-index: 1;
	position: absolute;
	-webkit-transform: rotate(10deg); 
}

.oh {
    color: white;
    font-size: 50px;
    margin-top: 40%;
    margin-left: 529px;
    font-family: serif;

    
}

.has {
    color: white;
    font-size: 25px;
    margin-top: -47%;
    margin-left: 1305px;
    width: 200px;
    
}

.with {
    color: white;
    font-size: 25px;
    margin-top: 25%;
    margin-left: 1870px;
    width: 300px;
  
    
}

.blue {
    color: white;
    font-size: 25px;
    margin-top: -30%;
    margin-left: 3025px;
    width: 300px;
}

.what {
    color: white;
    font-size: 25px;
    margin-top: 4%;
    margin-left: 3828px;
    width: 300px;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.1;
      }



    
    