body {
    background-color: black;
}


img {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    padding-top: 0px;
    border-bottom: 0px;
}

img:link {
    text-decoration: none;
   
    
}

       a:link {color: black;}      /* unvisited link */
       a:visited {color: black;}   /* visited link */
       a:hover {color: white;}     /* mouse over link */
       a:active {color: black;}    /* selected link */

h1 {
    text-align: center;
}




.oh {
    color: white;
    font-size: 290px;
    margin-top: 20.1%;
    margin-left: 492px;
    width: 500px;
    font-family: futura;
    z-index: -1;
    position: absolute;

    
}




.little {
    color: white;
    font-size: 90px;
    margin-top: 54.8%;
    margin-left: 1121px;
    width: 1000px;
    font-family: futura;
    
}



.with {
    color: white;
    font-size: 90px;
    margin-top: 54.9%;
    margin-left: 1870px;
    width: 1500px;
    font-family: futura;
    position: absolute;
    
}

.blue {
    color: white;
    font-size: 170px;
    margin-top: -30%;
    margin-left: 3025px;
    width: 1900px;
    font-family: futura;
    position: absolute;
}



.murmurs {
    color: white;
    font-size: 90px;
    margin-top: 165%;
    margin-left: 2595px;
    width: 1500px;
    font-family: futura;
    position: absolute;
}


.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.1;
      }



    
    