body {
    background-color: #ffcc33;
    color: white;
    font-size: 45px;
    font-family: "futura", century, arial, sans-serif;
    text-align:center;
    
}

.top {
    width: 2000px;
    height: 4px;
    background-color: orange;
    position: fixed;
    bottom: 20px;
    left:20px;
    transform: rotate(2deg);
    
}

    .circle {
        background-color: red;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 20px;
        right: 100px;
        border-radius: 50px;
        
    }



a {
    color: red;
}

a{
    color:red;
    font-style:bold;
}

p {
    background-color: black;
    font-weight: bold;
    
