a:link {
    text-decoration: none;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: black;}    /* selected link */

body {
    background-color: white;
}


.share {
    color: white;
    font-size: 90px;
    margin-top: 35.1%;
    margin-left: 492px;
    font-family: futura;
    z-index: -1;
    position: absolute;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

 .fade:hover {
    opacity: 0.1;
     }
img {
    z-index: -1;
}