img {
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}

.sp-scroll-bar {
	position: fixed;
	z-index: 9999;
	right: 0;
	top: 5%;
	width: 10px;
	height: 90%;
	border-radius: 5px;
	color: black;
}

.sp-scroll-bar:hover {
	background: black;
	background: rgba(0,0,0, .9);
}

.sp-scroll-bar .sp-scroll-handle {
	position: absolute;
	width: 100%;
	height: 50px;
	border-radius: inherit;
	background: black;
	background: rgba(0,0,0,.9);
}

.sp-scroll-bar .sp-scroll-handle:hover {
	background: black;
}

a:link {
    text-decoration: none;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: black;}    /* selected link */

body {
    background-color: white;
}


.comment1 {
    font-family: didot;
    font-size: 700px;
}

.comment2 {
    font-family: didot;
    font-size: 400px;
    top: 1%;
    left: 55%;
    color: black;
    z-index: 1;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

    .fade:hover {
      opacity: 0.1;
       }
