img {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    width: 100%;
}

h1 {
    text-align: center;
}


.date {
    color: black;
    font-size: 190px;
    margin-top: 5%;

    font-family: didot;
    z-index: -1;
    position: absolute;
    text-align: center;
}

.write {
    color: black;
    font-size: 190px;
    margin-top: 10%;

    font-family: didot;
    z-index: -1;
    position: absolute;
    text-align: center;
}
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.1;
      }



a:link {
    text-decoration: none;
}

       a:link {color: black;}      /* unvisited link */
       a:visited {color: black;}   /* visited link */
       a:hover {color: white;}     /* mouse over link */
       a:active {color: black;}    /* selected link */

