* {
    font-family: arial;
    color: black;
    background-color: yellow;
}

html, body {
  margin:0;
  padding:0;
}


h1 { text-align: center;
    color: black;
    font-size: 70px;
    font-family: sans-serif;
    background-color:yellow;
    width:400px;
}

p {
    padding: 90px; 
}


.bg { 
  top:0;
  position:absolute;
  background: url(swirl.jpg) repeat-y 0 0; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  min-height:4000px;
  z-index:-1;
  margin:0;
  padding:0;
}

.wrap {
  top:75px;
  position:absolute;
  background: white;
  width:100%;
  height:0vh;
}

.wrap2 {
  top: 2000px;
  position: absolute;
  width:100%;
  background:yellow;
}