h1 { text-align: center;
    color: black;
    font-size: 70px;
    font-family: sans-serif;
    position: absolute; 
}

* {
    font-family: arial;
    color: black;
}


html { 
  background: url(swirl.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}