h1 { text-align: center;
    color: black;
    font-size: 70px;
    font-family: sans-serif;
    position: absolute; 
}

p {
    padding: 90px; 
}


* {
    font-family: arial;
    color: black;
}


html { 
  background: url(swirl.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}