html,  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.purple {
    width: 50%;
    height: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3c004d;
    opacity: 0.9;
    filter: alpha(opacity=90);
    
}

.first {
    background-color: #3c004d;
    opacity: 0.9;
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 1100px;
    border-radius: 90px;
}

.purpleright{
    width: 50%;
    height: 50%;
    position: fixed;
    top: 0;
    right: 40;
    background-color: #8b00b3;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.second {
    background-color: #8b00b3;
    opacity: 0.9;
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 300px;
    border-radius: 90px;
}

.purplerightbottom {
   width: 50%;
    height: 50%;
    position: fixed;
    bottom: 0;
    right: 40;
    background-color: #f5ccff;
    opacity: 0.9;
    filter: alpha(opacity=90); 
}

.fourth {
    background-color: #f5ccff;
    opacity: 0.9;
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 1;
    top: 700px;
    right: 300px;
    border-radius: 90px;
}

.green {
    width: 50%;
    height: 50%;
    position: fixed;
    bottom: 0;
    right: 680px;
    background-color: #e166ff;
    opacity: 0.9;
    filter: alpha(opacity=90); 
}

.third {
    background-color: #e166ff;
    opacity: 0.9;
    width: 200px;
    height: 200px;
    position: fixed;
    z-index: 1;
    top: 700px;
    right: 1100px;
    border-radius: 90px;
}

.purplewindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: url(yesterday.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yesterday {
     min-height: 100%;
     min-width: 1024px;
	
  /* Set up proportionate scaling */
     width: 100%;
     height: auto;
	
  /* Set up positioning */
     position: fixed;
     top: 0;
     left: 0;
    
}

.png {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
  
  

