img {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}

a:link {
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:white }

h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
h4
    {
    text-align: center;  
    font-size: 35px;
    color: black;
    font-family: "gill-sans", sans-serif;
    margin-top: 150px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: sans-serif;
    position:fixed;
    top: 200px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:200px;
    right:30px;
    font-family: sans-serif;
}