img {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    width: 100%;
}

a:link {
    text-decoration: none;
}
       a:link {color: black;}      /* unvisited link */
       a:visited {color: black;}   /* visited link */
       a:hover {color: white;}     /* mouse over link */
       a:active {color: black;}    /* selected link */

h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    margin-top: 18%;
    }
h4
    {
    font-size: 40px;
    color: black;
    font-family: sans-serif;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    position: fixed;
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: sans-serif;
    position:fixed;
    top: 85%;
    right:20%;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:10%px;
    right:50%;
    left: 50%;
    font-family: sans-serif;
}

.animation {
    top: 230px;
}

.glass {
    top: 16%;
    left: -10%;
}

.books {
    top: 20%;
    right: -13%;
}

.contact {
    top: 30%;
    right: 4%;
}

.zine {
    top: 20%;
    right: 30%;
    background-color: pink;
}