body {
    background-color: black;
}

img {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    width: 100%;
}
a:link {
    text-decoration: none;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: black;}    /* selected link */

h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: sans-serif;
    }
h4
    {
    text-align: center;  
    font-size: 35px;
    color: black;
    font-family: "gill-sans", sans-serif;
    margin-top: 150px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    }
    
.left-nav {
    font-size: 100px;
    color: red;
    text-align: right;
    font-family: "gill-sans" sans-serif;
    position:fixed;
    top: 200px;
    left:30px;
}

.right-nav {
    font-size: 100px;
    position:fixed;
    top:200px;
    right:30px;
    color: red;
}
    
body 
    {
    font-family: "gill-sans", sans-serif;
    color: black;
    }
    
.leftcentered-box {
  position: absolute;
  top: 210px;
  left: 20%;
  width: 450px;

  
  color:white;
  font-size:25px;
  padding: 160px;
  padding-top: 0px;
  text-align: justify;
  
 

}




