body {
    background-color: #ffcc33;
    color: white;
    font-size: 50px;
    font-family: "futura", century, arial, sans-serif;
    text-align: center;
}




 .circle {
        background-color: red;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 20px;
        right: 15px;
        border-radius: 90px;
 }    
 
 .circle2 {
     background-color: black;
     width: 40px;
     height: 40px;
     position: fixed;
     top: 70px;
     right: 1px;
     border-radius: 40px;
     
 }
 
 .circle3 {
    background-color: black;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 8px;
    right: 900px;
    border-radius: 300px;
    
 }
 
 .circle4 {
     background-color:black;
     width: 30px;
     height: 30px;
     position: fixed;
     top: 8px;
     right: 300px;
     border-radius: 400px;
 
 
 }
 
 .circle5 {
     background-color: black;
     width: 100px;
     height: 100px;
     position: fixed;
     top: 100px;
     right: 700px;
     border-radius: 700px;
    -webkit-animation: myfirst 7s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
 }
@-webkit-keyframes myfirst {
    0%   {background: red; left: 0px; top: 0px;}
    25%  {background: black; left: 200px; top: 0px;}
    50%  {background: white; left: 200px; top: 200px;}
    75%  {background: red; left: 0px; top: 200px;}
    100% {background: black; left: 0px; top: 0px;}
}
 

 
 .circle6 {
     background-color: black;
     width: 60px;
     height: 60px;
     position: fixed;
     top: 70px;
     right: 500px;
     border-radius: 500px;
 }
 
 

 
 .circle7 {
     background-color: red;
     width: 60px;
     height: 60px;
     position: fixed;
     top: 76px;
     right: 700px;
     border-radius: 450px;
     
 }
 
 
 .circle8 {
     background-color: black;
     width: 100px;
     height: 100px;
     position: fixed;
     top: 120px;
     left: 1px;
     border-radius: 300px;
 }
 
 .circle9 {
     background-color:black;
     width: 150px;
     height: 150px;
     position: fixed;
     top: 300px;
     right:20px;
     border-radius: 400px;
 }
 
 .circle10 {
     background-color: black;
     width: 200px;
     height: 200px;
     position: fixed;
     top: 350px;
     right: 500px;
     border-radius: 500px;
 }
 

 .circle11 {
     background-color: black;
     width: 100px;
     height: 100px;
     position: fixed;
     top: 250px;
     right: 900px;
     border-radius: 250px;
 }
 
 .circle12 {
     background-color: black;
     width: 300px;
     height: 300px;
     position: fixed;
     top: 300px;
     right: 950px;
     border-radius: 300px;
 }
 
 
 .circle13 {
     background-color: red;
     width: 130px;
     height: 130px;
     position: fixed;
     top: 330px;
     right: 930px;
     border-radius: 130px;
 }
 
 
p {
    background-color: white;
    font-weight: bold;
    text-align: center;
}

h {

    color:black;
    position:fixed;
}
