h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
a:link {
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:white }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: "gill-sans", sans-serif;
    position:fixed;
    top: 200px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:200px;
    right:30px;
    font-family: "gill-sans", sans-serif;
}

.centered-box {
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translate(-50%, 1%);
  font-family: sans-serif;
  font-size:25px;
  padding: 20px;
  text-align: justify;
}