h4
    {
    text-align: center;  
    font-size: 40px;
    color: black;
    font-family: "gill-sans", sans-serif;
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: "gill-sans" sans-serif;
    position:fixed;
    top: 30px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:30px;
    right:30px;
}
    
body 
    {
    font-family: "gill-sans", sans-serif;
    color: black;
    }
    
.leftcentered-box {
  position: absolute;
  top: 410px;
  left: 28%;
  width: 450px;
  transform: translate(-50%, 1%);
  
  color:black;
  font-size:25px;
  padding: 160px;
  padding-top: 0px;
  text-align: justify;

}


.rightcentered-box {
  position: absolute;
  top: 3px;
  left: 115%;
  width: 450px;
  transform: translate(-50%, 1%);
  
  color:black;
  font-size:25px;
  padding: 160px;
  padding-top: 0px;
  text-align: justify;

}

