
img {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    z-index:-1;
}

h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
    
a:link {
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:white }


h4
    {
    text-align: center;  
    font-size: 40px;
    color: black;
    font-family: "gill-sans", sans-serif;
    margin-top: 150px;
    margin-left: 25%;
    margin-right: 25%;
    
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: sans-serif;
    position:fixed;
    top: 200px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:200px;
    right:30px;
    font-family: sans-serif;
}

.leftcentered-box {
  position: absolute;
  top: 510px;
  left: 30%;
  width: 450px;
  transform: translate(-50%, 1%);
  
  color:black;
  font-size:25px;
  padding: 160px;
  padding-top: 0px;
  text-align: justify;
  font-family: sans-serif;
  
 

}


.rightcentered-box {
  position: absolute;
  top: 510px;
  left: 70%;
  width: 450px;
  transform: translate(-50%, 1%);
  
  color:black;
  font-size:25px;
  padding: 160px;
  padding-top: 0px;
  text-align: justify;
  font-family: sans-serif;

}


