h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
a:link {
    text-decoration: none;
}

 
h4
    {
    text-align: center;  
    font-size: 40px;
    color: black;
    font-family: "gill-sans", sans-serif;
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    
    }
        
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: sans-serif;
    position:fixed;
    top: 90px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:90px;
    right:30px;
    font-family: sans-serif;
}

.leftcentered-box {
  position: absolute;
  top: 510px;
  left: 28%;
  width: 450px;
  transform: translate(-50%, 1%);
  
  color:black;
  font-size:25px;
  padding: 160px;
  padding-top: 0px;
  text-align: justify;
  font-family: sans-serif;

}


.rightcentered-box {
  position: absolute;
  top: 3px;
  left: 115%;
  width: 450px;
  transform: translate(-50%, 1%);
  
  color:black;
  font-size:25px;
  padding: 160px;
  padding-top: 0px;
  text-align: justify;
  font-family: sans-serif;

}

