h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
a:link {
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:white }

h4
    {
    text-align: justify;  
    font-size: 40px;
    color: black;
    font-family: "gill-sans", sans-serif;
    margin-top: 200px;
    margin-left: 25%;
    margin-right: 25%;
    
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: sans-serif;
    position:fixed;
    top: 90px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:90px;
    right:30px;
    font-family: sans-serif;
}

.centered-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1%);
  top: 510px;
  font-family: sans-serif;
  font-size:25px;
  padding: 20px;
  text-align: justify;
  
    -ms-transform: skewX(12deg); /* IE 9 */
    -webkit-transform: skewX(12deg); /* Safari */
    transform: skewX(12deg);
}