h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
a:link {
    text-decoration: none;
}

.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: sans-serif;
    position:fixed;
    top: 90px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:90px;
    right:30px;
    font-family: sans-serif;
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1%);
  top: 200px;
  font-family: sans-serif;
  font-size:50px;
  padding: 20px;
}