h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
a:link {
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:white }


    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: sans-serif;
    position:fixed;
    top: 200px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:200px;
    right:30px;
    font-family: sans-serif;
}

.centered-box {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 1%);
  font-family: sans-serif;
  font-size:25px;
  padding: 20px;
  text-align: justify;
}

h3 {
    font-size: 40px;
    font-family: sans-serif;
     -ms-transform: skewX(3deg); /* IE 9 */
    -webkit-transform: skewX(3deg); /* Safari */
    transform: skewX(39deg);
    width: 150%;
}

h4 {
    font-size: 70px;
    font-family: sans-serif;
    width: 140%;
    margin-left: -127px;
    margin-top: 150px;
}