h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: "gill-sans" sans-serif;
    position:fixed;
    top:30px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:30px;
    right:30px;
}
    
body 
    {
    font-family: "gill-sans", sans-serif;
    color: black;
    }
    
/*img */
/*    {*/
/*        background-image: url("welcome.jpg") no-repeat center center fixed;*/
/*        -webkit-background-size: cover;*/
/*        -moz-background-size: cover;*/
/*        -o-background-size: cover;*/
/*        background-size: cover;*/
/*        z-index: -1;*/
/*    }*/
    
html { 
  background: url(welcome.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}