h1
    {
    text-align: center;  
    font-size: 70px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
    
a:link {
    text-decoration: none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }


h2
    {
    margin-top: 150px;
    
    }
    
p   {
    margin: 2cm 4cm 3cm 4cm;
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: "gill-sans" sans-serif;
    position:fixed;
    top:90px;
    left:30px;
    
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:90px;
    right:30px;
    
}
    
body 
    {
    font-family: "gill-sans", sans-serif;
    color: black;
    }
    
/*img */
/*    {*/
/*        background-image: url("welcome.jpg") no-repeat center center fixed;*/
/*        -webkit-background-size: cover;*/
/*        -moz-background-size: cover;*/
/*        -o-background-size: cover;*/
/*        background-size: cover;*/
/*        z-index: -1;*/
/*    }*/
    
.welcome { 
  top:0;
  position:absolute;
  background: url(welcome.jpg) repeat-y 0 0; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  min-height:700px;
  z-index:-1;
  margin:0;
  padding:0;
}
