h1
    {
    text-align: center;  
    font-size: 60px;
    color: black;
    font-family: "gill-sans", sans-serif;
    }
    
.left-nav {
    font-size: 40px;
    color: black;
    text-align: right;
    font-family: "gill-sans" sans-serif;
    position:fixed;
    top:30px;
    left:30px;
}

.right-nav {
    font-size: 40px;
    position:fixed;
    top:30px;
    right:30px;
}
    
body 
    {
    font-family: "gill-sans", sans-serif;
    color: black;
    }
    
img 
    {
        background-image: url("welcome.jpg");
        z-index: -1;
    }