
    
h1 {
    font-family: arial;
    text-align: center;  
    font-size: 70px;
    color: black;
    margin-top: 20%;
    z-index: 999;
}

a:link {
    text-decoration: none;
}
a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: black;}    /* selected link */

img {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
    width: 100%;
}



#largeWrapper{
	margin:0px;
	padding:50px;
	background-size:cover;
	height:100%;
}

#smallWrapper{
	margin:0px;
	padding:50px;
	background-size:cover;
	height:100%;
	font-family: arial;
	text-align: justify;
}


.right-nav {
    font-size: 100px;
    position:relative;
    top:-64px;
    right:-102px;
}
    
    
    #hide{
        display:none;
    }
    
@media (min-width: 0px) and (max-width: 400px) {

    #largeWrapper{
     display: none; 
    }
    #smallWrapper{
        display: block;
    }



}

@media (min-width: 401px) {
    
    #smallWrapper{
     display: none; 
    }
}